
# CloudFront 와 연결된 S3 에 빌드된 version .zip 파일로 생성.
# stg, dev 각각 인스턴스에서 shellScript 실행하여 다시 S3 베포 및 CloudFornt 무효화정책 생성.

image: node:20

pipelines:
  tags:
    "*.*.*":
      # parallel 안에 스텝은 병렬로 실행
      - parallel:
        # 데브에 버전 빌드
        - step:
            name: Build dev react
            caches:
              - node
            script:
              # API 서버 주소를 내용으로 .env 파일 작성 _ 내용 동적할당 (레포지토리변수)
              - echo $DEV_API_SERVER >> .env
              # 1. 라이브러리및링커. 2. ci 환경에서 경고를 오류로 설정되는값이 있어 false 로 변경 후 빌드
              - npm install
              - CI=false npm run build


              # 경로생성
              - mkdir -p tmp-version
              # 1. zip 파일 인스톨, 2. build 안의 내용 태그이름으로 zip 생성
              - apt update && apt install -y zip
              - cd build && zip -r ../tmp-version/$BITBUCKET_TAG.zip ./* && cd ../


              # S3에 build-zip 디렉토리안에 zip 파일 생성
              - pipe: atlassian/aws-s3-deploy:1.1.0
                variables:
                  AWS_ACCESS_KEY_ID: $NEW_AWS_ACCESS_KEY_ID
                  AWS_SECRET_ACCESS_KEY: $NEW_AWS_SECRET_ACCESS_KEY
                  AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
                  S3_BUCKET: $DEV_S3_BUCKET_NAME/build-zip
                  LOCAL_PATH: tmp-version

        # 스테이징에 버전 빌드
        - step:
              name: Build dev react
              caches:
                - node
              script:
                # API 서버 주소를 내용으로 .env 파일 작성 _ 내용 동적할당 (레포지토리변수)
                - echo $STG_API_SERVER >> .env
                # 1. 라이브러리및링커. 2. ci 환경에서 경고를 오류로 설정되는값이 있어 false 로 변경 후 빌드
                - npm install
                - CI=false npm run build


                # 경로생성
                - mkdir -p tmp-version
                # 1. zip 파일 인스톨, 2. build 안의 내용 태그이름으로 zip 생성
                - apt update && apt install -y zip
                - cd build && zip -r ../tmp-version/$BITBUCKET_TAG.zip ./* && cd ../


                # S3에 build-zip 디렉토리안에 zip 파일 생성
                - pipe: atlassian/aws-s3-deploy:1.1.0
                  variables:
                    AWS_ACCESS_KEY_ID: $NEW_AWS_ACCESS_KEY_ID
                    AWS_SECRET_ACCESS_KEY: $NEW_AWS_SECRET_ACCESS_KEY
                    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
                    S3_BUCKET: $STG_S3_BUCKET_NAME/build-zip
                    LOCAL_PATH: tmp-version